html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	color: #333;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
	--working-color: hsl(10, 100%, 50%);
	--working-background-color: hsl(10, 100%, 90%);

	--break-color: hsl(75, 50%, 50%);
	--break-background-color: hsl(75, 50%, 90%);

	--overlay-background-color: rgb(255 255 255 / .5);
	--overlay-color: #333;
}